@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
  }
}

@layer utilities {
  .bg-blur {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .underline-wavy {
    text-decoration-style: wavy !important;
  }

  .inset-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
