@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @font-face {
    font-family: "Amerigo BT";
    src: url("https://db.onlinewebfonts.com/t/afd4ddebaf5580b6e2268547a84e264d.woff2") format("woff2");
  }

  .bg-blur {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  div::-webkit-scrollbar {
    display: none;
  }

  .underline-wavy {
    text-decoration-style: wavy !important;
  }

  .inset-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .gold-filter {
    filter: url(#gold-sunset);
  }
}
